<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ciberfarma | Aplicacion de Farmacia</title>
<link rel="icon" type="image/jpg" href="/img/favicon.ico"/>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>

	<header th:insert="fragments/util :: header"></header>

	<section>
		<img src="/img/bannercib.jpg" class="img-fluid d-block w-100"
			alt="Ciberfarma banner">
	</section>

	<section class="p-5">
		<div class="container">
		
			<!-- Mostrar mensajes -->
			<div th:if="${message != null}" class="alert alert-success" th:text="${message}"></div>
		
			<h3>Encuentra lo que estas buscando a los mejores precios</h3>
			Puedes buscar por descripcion y categoria.

			<!-- Consultar productos -->
			<form class="row gy-2 gx-3 align-items-center" action="/search#section_productos"
				method="get" th:object="${search}">

				<div class="col-auto">
					<label class="col-form-label">Descripcion: </label> <input
						type="text" th:field="*{descripcion}" class="form-control">
				</div>

				<!-- Listado de categorias -->
				<div class="col-auto">
					<label class="col-form-label">Categoria: </label> <select
						class="form-control" th:field="*{categoria.id}">
						<option th:value="${null}">Seleccione una categoria...</option>
						<option th:each="c : ${lstcategoria}" th:value="${c.id}"
							th:text="${c.descripcion}"></option>
					</select>
				</div>

				<div class="col-auto">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</div>
			</form>
		</div>
	</section>

	<!-- Listado de productos -->
	<section id="section_productos">
		<div class="container">
			<h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
			
			<div class="row">
				<div class="card col-md-4" style="width: 18rem;" th:each="p : ${lstproducto}">
				<img th:src="@{/producto/imagen/{img} (img=${p.imagen})}"
					class="card-img-top" alt="${p.descripcion}">
				<div class="card-body">
					<h5 class="card-title"><span th:text="${p.descripcion}"></span></h5>
					<p class="card-text">Categoria: <span th:text="${p.categoria.descripcion}"></span></p>
					<p class="card-text">Precio: <span th:text="${p.precio}"></span></p>
					<form action="/carrito/agregar/" method="post">
						<input type="hidden" name="idproducto" th:value="${p.id}"/>
						<input class="form-control" type="number" name="cantidad" step="1" min="1" max="99" value="1" />
						<button class="btn btn-primary" type="submit">Agregar al Carrito</button>
					</form>
				</div>
			</div>
			</div>
		</div>
	</section>

	<footer class="text-center">
		<p>
			&copy; Ciberfarma <span>2022</span>. All rights reserved.
		</p>
	</footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>